$mainColor: #f7f7f7;
$secondaryColor: #33ccff;
$backgroundColor: #ffffff;

$tclr: red;

$selectedColor: #000000;

.appContainer {
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  height: 700px;
  padding-bottom: 2px;
  margin-top: 30px;
  border: 1px solid black;
}

.taskPanel {
  // display: none;
  border: 2px solid $secondaryColor;
  width: 4%;
  height: 98.5%;
  display: flex;
  flex-direction: column;
  padding-left: 4px;
  padding-right: 4px;
  padding-top: 10px;
}

.tempWrapper {
  display: flex;
  justify-content: flex-start;
  width: 95%;
}

.classifyPanelContainer {
  width: 37%;
  display: flex;
  justify-content: flex-start;
  background-color: $mainColor;
}

.classifyContentPanel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin-left: 25px;
  width: 100%;
}

.proceedButton {
  display: flex;
  justify-content: center;
  width: 27%;
  margin-top: 425px;
  margin-left: 290px;
  color: white;
  padding: 5px 5px;
  background-color: $secondaryColor;
  border: none;
  border-radius: 5px;
}

.classifyHeading {
  display: flex;
  justify-content: flex-start;
  font-size: 12px;
  color: $secondaryColor;
  text-decoration: underline;
  text-underline-offset: 3px;
}

.classifyInput {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  // justify-content: flex-start;
}

.goalPickerPrompt {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 12px;
}

.taskEntryPrompt {
  display: flex;
  justify-content: flex-start;
  color: gray;
  font-size: 12px;
}

.characterCounterContainer {
  display: flex;
  justify-content: flex-start;
  color: #808080;
  font-size: 12px;
}

.characterCount {
  margin-left: 3px;
}

.dropDownMenu {
  width: 35%;
  border: none;
  background-color: $mainColor;
}

.taskNameEntry {
  width: 75%;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: $mainColor;
  padding: 6px;
}

.messageContainer {
  width: 77%;
  display: flex;
  flex-direction: column;
  padding-left: 30px;
}

.messagePanelHead {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: baseline;
  border: none;
}

.messageInput {
  width: 80%;
  // border-top: 1px solid black;
  margin-top: 510px;
  padding-bottom: 5px;
  border: none;
  padding-top: 20px;
  padding-left: 10px;
  border-radius: 3px;
}

// .messageSubmitionPoperties {
//   border: 1px solid red;

// }

.submitButton {
  width: 10%;
  background-color: $secondaryColor;
  color: white;
  border: none;
  padding-top: 19px;
  border-radius: 5px;
  padding-bottom: 19px;
}

input:focus {
  outline: none;
}
select:focus {
  outline: none;
}

.firstMessage {
  font-size: 12px;
  width: 70%;
  background-color: $mainColor;
  display: flex;
  padding-left: 25px;
}

.round {
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
}

.roundedImage {
  background: url(http://placehold.it/50x50);
  background-repeat: no-repeat;
  background-size: cover;

  overflow: hidden;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  width: 35px;
  height: 35px;
  margin: 10px 10px;
}

.notificaionBadge {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 24px;
}

.ticket {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: $mainColor;
  margin: 10px 10px;
}

.active {
  .ticket {
    background-color: $selectedColor;
  }
}

.ticketHeading {
  color: gray;
  font-weight: normal;
  font-size: 12px;
}

.headingAssetContainer {
  color: gray;
  display: flex;
  justify-content: space-evenly;
  width: 30%;
  font-weight: bold;
}

.icon {
  max-height: 30px;
  margin-top: 10px;
  margin-left: 10px;
  filter: opacity(0.5) drop-shadow(0 0 0 gray);
}

.iconContainer {
  width: 40%;
}

.subHeading {
  color: gray;
  font-size: 10px;
  display: flex;
  align-items: center;
  padding-top: 1px;
}

.subHeadingCircle {
  height: 5px;
  width: 5px;
  border-radius: 50%;
  background: $secondaryColor;
  margin: 10px 10px;
}

.redDot {
  background-color: red;
}

.yellowDot {
  background-color: #ffa500;
}

.userBadge {
  height: 7px;
  width: 7px;
  border-radius: 50%;
  border: 1px solid white;
  margin-left: 24px;
  background-color: blue;
}

.red {
  color: #fc0000;
}
